.tabs-section {
  width: 100%;
  display: flex;
}

.work-tab {
  width: 100%;
}

.work-content {
  padding: 1rem 0;
}

.work-content h1 {
  margin-bottom: 0.3rem;
  transition: all 0.5s ease-in-out;
}

.primary-color {
  color: #ffa7c4;
}