.card-container {
  margin-bottom: 10rem;
}

.card-container .fas,
.card-container .fab {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.project-description {
  box-shadow: var(--shadow);
  padding: 1rem 1.5rem;
  margin: 1rem -2rem 1rem -2rem;
  z-index: 99;
  background: var(--background);
  position: relative;
}

.project-photo {
  min-width: 300px;
  height: 350px;
  opacity: 0.4;
  object-fit: contain;
  z-index: -1;
}

.description-and-photo {
  display: flex;
  justify-content: space-between;
}

.tech-stack {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  left: 1rem;
}

.project-links {
  position: absolute;
  bottom: 1rem;
}

@media only screen and (max-width: 760px) {
  .card-container {
    padding: 1rem;
    position: relative;
    min-height: 400px;
    margin-bottom: 4rem;
  }
  
  .description-and-photo img {
    opacity: 0.1;
  }
  
    .tech-stack {
      position: absolute;
      bottom: 4rem;
    }
    
  .project-description {
    position: absolute;
    background-color: transparent!important;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
  }

  .project-photo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}